// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// # Custom

*{
    user-select: none;
}

.list-group-item-action:hover{
    background-color: #525052 !important;
    color: whitesmoke !important;
}